#dropdownBarang {
    min-width: 100%;
    width: 100%;
    left: 0;
    /* Pastikan posisinya absolute dan parentnya relative */
}
.relative {
    position: relative;
}
/* Backdrop blur dengan transparansi */
.modal-backdrop-blur {
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.1) !important; /* Sangat transparan */
}
